<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Nơi ghi log -->
  <targets>
    <!-- Ghi log vào file -->
    <target xsi:type="File" name="logfile"
            fileName="Logs/log.txt"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
  </targets>

  <!-- Quy tắc ghi log -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>