<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Cho phép mở rộng cho ASP.NET Core -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <!-- Ghi log ra file -->
    <target xsi:type="File"
            name="fileLogger"
            fileName="logs/log-${shortdate}.txt"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />

    <!-- Hiện log ra console để thấy khi chạy dotnet run -->
    <target xsi:type="Console"
            name="consoleLogger"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Ghi cả vào file lẫn console -->
    <logger name="*" minlevel="Info" writeTo="fileLogger,consoleLogger" />
  </rules>
</nlog>
